body {
    margin:0;
    background-image: url("../images/dreamy-cloud.jpg");
    background-size: 100%;
}

.title-bar {
    padding: 12px;
    margin-bottom: 20px;
    height: 40px;
    border: 1px solid #eee;
    background: white;
}

.header {
    width: 100%;
    margin: auto;
    }

.fixed {
    position: static;
    margin:0;
    text-align: center;
}

.name {
    float: left;
    padding: 18px;
    height: 100%;
    margin-top: -20px;
    color: white;
    text-align: center;
    background: rgb(194, 186, 225);
  }

.main-nav {
    float: right;
    text-align: center;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a{
    color:grey;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
h2 {
    width: 130px;
    height: 30px;
    background-color:rgb(194, 186, 225);
    color: white;
    text-align: center;
    font-size:25px;
    position: relative;
    animation: mymove 10s infinite;
}

#div1 {
    animation-timing-function: linear;
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}

.wrapper {
    padding: 20px;
    max-width: 960px;
    margin: auto;
    background: white;
    height: 1000px;
}

.wrapper2{
    padding: 20px;
    max-width: 960px;
    margin: auto;
    background: white;
    height: 600px;
}

.wrapper3{
    padding: 20px;
    max-width: 960px;
    margin: auto;
    background: white;
    height: 700px;
}


.foot-hr {
    border:0;
    width:80%;
    color:rgb(194, 186, 225);
    height:5px;
}

.footer {
    background: grey;
    color: white;
    text-align: center;
    position: static;
    padding:1px;
    width: 100%;
    margin-top: 25px;
    border-top: 8px solid rgb(194, 186, 225);
}

.bio-image {
    float: left;
    width: 200px;
    height: 200px;
}

hr{
    display: block;
    margin-top: 0.5em;
    border-style: inset;
    border-width: 2px;
    color: grey;
}


p{
    text-indent: 10%;
}

.content{
    color: grey;
    font-size: 21px;
}

input[type=text], select{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea[type=text], select{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px inset;
}

input[type=submit] {
    width: 9%;
    background-color: rgb(194, 186, 225);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px, solid, rgb(194, 186, 225);
    cursor: pointer;
    border-radius: 4px;
}

div.desc {
    padding: 8px;
    text-align: center;
    background-color: rgb(220, 213, 247);
    width:99%;
    color: white;
    font-size: 20px;
}

.responsive {
    padding: 20px;
    float: left;
    width: 30%;
}

/* MEDIA QUERIES */

@media screen and (max-width:980px) {
.wrapper2, .wrapper3{    
    padding: 10px;
    max-width: 650px;
    height: 620px;
    }
.wrapper{
    max-width: 70%;
}
.responsive{
    width:fit-content;
    }
div.desc{
    padding:7px;
    width:95.4%;
    }
h3{
    font-size: 15px;
    }
input[type=submit]{
    width:15%;
    }
.footer{
    margin-top:75px;
}
}


@media screen and (max-width:768px){
.wrapper2, .wrapper3{    
    padding: 10px;
    max-width: 650px;
    height: 580px;
    }

.wrapper{
   max-width:90%;
    height:950px;
    }
.responsive{
    width:fit-content
    }
 div.desc{
     width:95%
    }
h3{
    font-size: 15px;
    }
input[type=submit]{
    width:15%;
    } 
}

@media screen and (max-width:640px){
.wrapper3{    
    padding: 10px;
    max-width: 550px;
    height: 580px;
    }
.wrapper2{
    width:550px;
    height: 1100px;
    } 
.wrapper{
    max-width: 80%;
    height:1880px;
    }
.main-nav{
    overflow: visible;
    display: flex;
    }     
.bio-image{
    width: 100%;
    height: 80%;
}
img{
    width:140%;
}
div.desc{
    width:135.1%;
}
}



/*
`max-width`s: `980px`, `768px` and `640px`