body {
    margin:0;
    background-image: url("../images/dreamy-cloud.jpg");
    background-size: 100%;
}

.title-bar {
    padding: 12px;
    margin-bottom: 20px;
    height: 40px;
    border: 1px solid #eee;
    background: white;
}

.header {
    width: 100%;
    margin: auto;
    }

.fixed {
    position: static;
    margin:0;
    text-align: center;
}

.name {
    float: left;
    padding: 18px;
    height: 100%;
    margin-top: -20px;
    color: white;
    text-align: center;
    background: rgb(194, 186, 225);
  }

.main-nav {
    float: right;
    text-align: center;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a{
    color:grey;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.wrapper {
    padding: 20px;
    max-width: 960px;
    margin: auto;
    background: white;
    height: 1200px;
}

.wrapper2{
    padding: 20px;
    max-width: 960px;
    margin: auto;
    background: white;
    height: 600px;
}

.wrapper3{
    padding: 20px;
    max-width: 960px;
    margin: auto;
    background: white;
    height: 700px;
}


.foot-hr {
    border:0;
    width:80%;
    color:rgb(194, 186, 225);
    height:5px;
}

.footer {
    background: grey;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 143px;
    border-top: 8px solid rgb(194, 186, 225);
}

.bio-image {
    float: left;
    width: 200px;
    height: 200px;
}

hr{
    display: block;
    margin-top: 0.5em;
    border-style: inset;
    border-width: 2px;
    color: grey;
}

h2{
    color: rgb(144, 120, 240);
}

.content{
    color: grey;
    font-size: 21px;
}

input[type=text], select{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea[type=text], select{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px inset;
}

input[type=submit] {
    width: 9%;
    background-color: rgb(194, 186, 225);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px, solid, rgb(194, 186, 225);
    cursor: pointer;
    border-radius: 4px;
}

img{
    width:350px;
    height: 250px;
}

.gallery {
    margin: 20px;
}

.desc {
    padding: 15px;
    text-align: center;
}


.winter-mountain {
    padding: 18px;
    margin-top: -10px;
    color: white;
    text-align: center;
    background: rgb(194, 186, 225);
  }

.elk-pink {
    float: center;
    padding: 18px;
    margin-top: -10px;
    color: white;
    text-align: center;
    background: rgb(194, 186, 225);
  }

.elk-snow {
   float: center;
   padding: 18px;
   margin-top: -10px;
   color: rgb(144, 120, 240);
   text-align: center;
   background: rgb(194, 186, 225);
  }

.snow-mountain {
    float: center;
    padding: 18px;
    margin-top: -10px;
    color: white;
    text-align: center;
    background: rgb(194, 186, 225);
  }

.mountain-peak {
    float: center;
    padding: 18px;
    margin-top: -10px;
    color: white;
    text-align: center;
    background: rgb(194, 186, 225);
}

/* MEDIA QUERIES */




/*
`max-width`s: `980px`, `768px` and `640px`